@charset "EUC-KR";
/*각 구조의 영역을 확인하기 위해 색을 넣음,
body에 overflow:auto를 집어넣어 사이트 크기가 변할 때 스크롤이 자동으로 크기에 따라 생김.
margin:0 auto로 사이트가 화면 중앙에 위치하게 함.
*/
body{width:1200px; height:2000px; margin:0 auto; padding:10px; overflow:auto;}

.header{
	overflow:hidden;
	width:1200px; height:280px; padding:10px;
}

.nav{
	overflow:hidden;
	width:1200px; height:150px; padding:10px; 
}

.article{
	overflow:hidden;
	width:1200px; height:500px; padding:10px;
}

.footer{
	
	width:1200px; height:200px; padding:10px; clear:both;
}
/*----------------------------------------------------------------------*/

#logoutbtn{ 
	border-top-left-radius: 40px; 
	border-bottom-left-radius: 40px; 
	margin-right:1px; 
	
	} 

#mypagebtn{ 
	border-top-right-radius: 40px; 
	border-bottom-right-radius: 40px; 
	margin-left:-16px; 
	} 
	#btn_group button{ 
	border: 4px solid #b6e3e9; 
	background-color: rgba(0,0,0,0); 
	color: black; 
	padding: 15px; 
	font-weight: bold;
	font-size: 20px;
	font-family:"나눔바른펜";
	} 
	#btn_group button:hover{ 
	color:black; 
	background-color: #d9f1f1;
	cursor:pointer;
	}
	div.relative {
    position: relative;
    left: -130px;
    top: -350px;
    margin-top : 100px;
    margin-left : 50%;
    float:left;
	}
	
	.hometitle{
	position: relative;
	font-family:"210 슈크림빵";
	 font-size:50px;
	 font-weight: bold;
    color:white;
    text-shadow: 0 0 1px #fff, 0 0 20px #e6e6fa, 0 0 20px #fff, 0 0 10px #ff00de, 0 0 60px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 200px #ff00de;
	 left: 0px;
    top: 55px;
	}
	
	.mainheart{
	position: relative;
    left: 240px;
    top: 115px;
	}
	
	div.logo {
    position: relative; /*relative에서 static으로 바꿈. 로고를 기준으로 버튼의 위치를 바꾸기 위해.*/
    margin-left: 1000px;
    top : -55px;
    margin-left : 5%;
    float:left;
    cursor:pointer;
	}

div.star {
    position: relative; /*relative에서 static으로 바꿈. 로고를 기준으로 버튼의 위치를 바꾸기 위해.*/
    margin-left: 1000px;
    top : 83px;
    left : 0px;
    margin-left : -2%;
    float:left;
	}
	
	div.rgstar {
    position: relative; /*relative에서 static으로 바꿈. 로고를 기준으로 버튼의 위치를 바꾸기 위해.*/
    margin-left: 1000px;
    top : 83px;
    right : -695px;
    margin-left : -2%;
    float:left;
	}
	
/*메뉴바 전체*/
nav ul {
	text-align: center; /*정렬*/
	background-color: #e5d0dc; /*배경색*/
	font-family:"나눔바른펜"; /*글꼴 : 선택된 요소에 우선 순위가 지정된 폰트*/
	border-radius:50px;
	font-size:20px;
	font-weight: bold;
}

nav li a {
	display: inline-block; /*블록태그와 인라인 태그의 중간 형태*/
	color: black;
	text-decoration: none; /*밑줄 설정 해제*/
	
	/*여백 지정*/
	padding-top:35px; /*상단*/
	padding-right:150px; /*오른쪽*/
	padding-bottom:35px; /*아래*/
	padding-left:150px; /*왼쪽*/
}

nav li a:hover, .dropdown:hover {
	border-radius:50px;
	background-color: #fae1d8; /*메뉴바에 마우스를 가져다놓을 때의 색깔변경*/
}

nav li.dropdown {
	display: inline-block; /*메뉴바를 나란히 배치*/
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	border-radius:25px;
}

.dropdown-content a { /*메뉴바 리스트*/
	color: BLACK;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
	font-size:18px;
}

.dropdown-content a:hover {
	background-color: #E6E6E6; /*메뉴바 리스트 색깔*/
}

.dropdown:hover .dropdown-content {
	display: block;
}

/* 왼쪽 사이드 메뉴 */
aside#left{
    float: left;
    width: 15em;
    height: 5em;
    margin-right: 5em;
    margin-left: 3em;
    font-family:"나눔스퀘어 ExtraBold";
}

.subtitle{
	 font-family:"나눔스퀘어 ExtraBold";
	 font-size:25px;
} 
 
aside#left ul{ list-style: none}
 
aside#left ul li{
	text-align: center;
    background-color: #fad4ae;
    padding: 5px 10px;
    border-bottom: 2px solid white;
    font-family:"나눔바른펜";
    border-radius:40px;
}
 
aside#left ul li a{
    color: black;
    text-decoration: none;
	font-weight: bold;
}
 
aside#left ul li:hover{
    background-color: #faf1d6;
}
 
aside#main{
    float: left;
}
aside#right{
	float: left;
	padding:10px;
	width:5px;
}


/* 가운데 본문 영역 */
section#main{
    float: left;
}

	.Seoulareasideimg {
    position: relative; /*relative에서 static으로 바꿈. 로고를 기준으로 버튼의 위치를 바꾸기 위해.*/
    margin-left: 1000px;
    top : -880px;
    left: -70px;
    margin-left : 6%;
    float:left;  
	}
	
	.Gyeonggiareasideimg {
    position: relative; /*relative에서 static으로 바꿈. 로고를 기준으로 버튼의 위치를 바꾸기 위해.*/
    margin-left: 1000px;
    top : -1418px;
    left: -70px;
    margin-left : 6%;
    float:left;  
	}
	
	.Gangwonareasideimg {
    position: relative; /*relative에서 static으로 바꿈. 로고를 기준으로 버튼의 위치를 바꾸기 위해.*/
    margin-left: 1000px;
    top : -960px;
    left: -70px;
    margin-left : 6%;
    float:left;  
	}
	
	.Gyeongsangareasideimg {
    position: relative; /*relative에서 static으로 바꿈. 로고를 기준으로 버튼의 위치를 바꾸기 위해.*/
    margin-left: 1000px;
    top : -920px;
    left: -70px;
    margin-left : 6%;
    float:left;  
	}
	
	.Jeonlasideimg{
	position: relative; /*relative에서 static으로 바꿈. 로고를 기준으로 버튼의 위치를 바꾸기 위해.*/
    margin-left: 1000px;
    top : -985px;
    left: -70px;
    margin-left : 6%;
    float:left;  
	}
	
	.Chungcheongsideimg{
	position: relative; /*relative에서 static으로 바꿈. 로고를 기준으로 버튼의 위치를 바꾸기 위해.*/
    margin-left: 1000px;
    top : -1150px;
    left: -70px;
    margin-left : 6%;
    float:left; 
	}
	
	.Springsideimg {
    position: relative; /*relative에서 static으로 바꿈. 로고를 기준으로 버튼의 위치를 바꾸기 위해.*/
    margin-left: 1000px;
    top : -880px;
    left: -70px;
    margin-left : 6%;
    float:left;  
	}
	
	.Summersideimg {
    position: relative; /*relative에서 static으로 바꿈. 로고를 기준으로 버튼의 위치를 바꾸기 위해.*/
    margin-left: 1000px;
    top : -1430px;
    left: -70px;
    margin-left : 6%;
    float:left;  
	}
	
	.Fallsideimg {
    position: relative; /*relative에서 static으로 바꿈. 로고를 기준으로 버튼의 위치를 바꾸기 위해.*/
    margin-left: 1000px;
    top : -1220px;
    left: -70px;
    margin-left : 6%;
    float:left;  
	}
	
	.Wintersideimg {
    position: relative; /*relative에서 static으로 바꿈. 로고를 기준으로 버튼의 위치를 바꾸기 위해.*/
    margin-left: 1000px;
    top : -1447px;
    left: -70px;
    margin-left : 6%;
    float:left;  
	}
	
	.introductionsideimg{
	position: relative; /*relative에서 static으로 바꿈. 로고를 기준으로 버튼의 위치를 바꾸기 위해.*/
    margin-left: 1000px;
    top : -380px;
    left: -70px;
    margin-left : 6%;
    float:left;  
	}
	
	.howtousesideimg{
	position: relative; /*relative에서 static으로 바꿈. 로고를 기준으로 버튼의 위치를 바꾸기 위해.*/
    margin-left: 1000px;
    top : -845px;
    left: -70px;
    margin-left : 6%;
    float:left;  
	}
	
	.sitemapsideimg{
	position: relative; /*relative에서 static으로 바꿈. 로고를 기준으로 버튼의 위치를 바꾸기 위해.*/
    margin-left: 1000px;
    top : -380px;
    left: -70px;
    margin-left : 6%;
    float:left;  
	}
	
	.noticesideimg{
	position: relative; /*relative에서 static으로 바꿈. 로고를 기준으로 버튼의 위치를 바꾸기 위해.*/
    margin-left: 1000px;
    top : -350px;
    left: -70px;
    margin-left : 6%;
    float:left;  
	}
	
	.FAQsideimg{
	position: relative; /*relative에서 static으로 바꿈. 로고를 기준으로 버튼의 위치를 바꾸기 위해.*/
    margin-left: 1000px;
    top : -535px;
    left: -70px;
    margin-left : 6%;
    float:left;  
	}
	
	.privacysideimg{
	position: relative; /*relative에서 static으로 바꿈. 로고를 기준으로 버튼의 위치를 바꾸기 위해.*/
    margin-left: 1000px;
    top : -952px;
    left: -70px;
    margin-left : 6%;
    float:left;  
	}
	
	.asksideimg{
	position: relative; /*relative에서 static으로 바꿈. 로고를 기준으로 버튼의 위치를 바꾸기 위해.*/
    margin-left: 1000px;
    top : -416px;
    left: -70px;
    margin-left : 6%;
    float:left;  
	}
	
	.centersideimg{
	position: relative; /*relative에서 static으로 바꿈. 로고를 기준으로 버튼의 위치를 바꾸기 위해.*/
    margin-left: 1000px;
    top : -350px;
    left: -70px;
    margin-left : 6%;
    float:left;  
	}
	
	.sidetext{
	position: relative;
    top : 423px;
    left: -314px;
    font-family:"나눔바른펜";
    font-size:40px;
    color:white;
    text-shadow: 0 0 1px #fff, 0 0 20px #e6e6fa, 0 0 20px #fff, 0 0 10px #ff00de, 0 0 60px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 200px #ff00de;
	}
	
	.seasonsidetext{
	position: relative;
    top : 320px;
    left: -314px;
    font-family:"나눔바른펜";
    font-size:40px;
    color:white;
    text-shadow: 0 0 1px #fff, 0 0 20px #e6e6fa, 0 0 20px #fff, 0 0 10px #ff00de, 0 0 60px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 200px #ff00de;
	
	}
	
	.introductionsidetext{
	position: relative;
    top : -335px;
    left: -365px;
    font-family:"나눔바른펜";
    font-size:27px;
    color:white;
    text-shadow: 0 0 1px #fff, 0 0 20px #e6e6fa, 0 0 20px #fff, 0 0 10px #ff00de, 0 0 60px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 200px #ff00de;
	display:inline-block;
	}
	
	.howtousetext{
	position: relative;
    top : -800px;
    left: -365px;
    font-family:"나눔바른펜";
    font-size:27px;
    color:white;
    text-shadow: 0 0 1px #fff, 0 0 20px #e6e6fa, 0 0 20px #fff, 0 0 10px #ff00de, 0 0 60px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 200px #ff00de;
	display:inline-block;
	}
	
	.centersidetext{
	position: relative;
    top : -290px;
    left: -386px;
    font-family:"나눔바른펜";
    font-size:32px;
    color:white;
    text-shadow: 0 0 1px #fff, 0 0 20px #e6e6fa, 0 0 20px #fff, 0 0 10px #ff00de, 0 0 60px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 200px #ff00de;
	display:inline-block;
	}
	
	.noticecentersidetext{
	position: relative;
    top : -290px;
    left: -386px;
    font-family:"나눔바른펜";
    font-size:32px;
    color:white;
    text-shadow: 0 0 1px #fff, 0 0 20px #e6e6fa, 0 0 20px #fff, 0 0 10px #ff00de, 0 0 60px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 200px #ff00de;
	display:inline-block;
	}
	
	.FAQcentersidetext{
	position: relative;
    top : -475px;
    left: -386px;
    font-family:"나눔바른펜";
    font-size:32px;
    color:white;
    text-shadow: 0 0 1px #fff, 0 0 20px #e6e6fa, 0 0 20px #fff, 0 0 10px #ff00de, 0 0 60px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 200px #ff00de;
	display:inline-block;
	}
	
	.privacysidetext{
	position: relative;
    top : -892px;
    left: -386px;
    font-family:"나눔바른펜";
    font-size:32px;
    color:white;
    text-shadow: 0 0 1px #fff, 0 0 20px #e6e6fa, 0 0 20px #fff, 0 0 10px #ff00de, 0 0 60px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 200px #ff00de;
	display:inline-block;
	}
	
	.asksidetext{
	position: relative;
    top : -358px;
    left: -386px;
    font-family:"나눔바른펜";
    font-size:32px;
    color:white;
    text-shadow: 0 0 1px #fff, 0 0 20px #e6e6fa, 0 0 20px #fff, 0 0 10px #ff00de, 0 0 60px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 200px #ff00de;
	display:inline-block;
	}
	
	.Gangwonsidetext{
	position: relative;
    top : 423px;
    left: -315px;
    font-family:"나눔바른펜";
    font-size:40px;
    color:white;
    text-shadow: 0 0 1px #fff, 0 0 20px #e6e6fa, 0 0 20px #fff, 0 0 10px #ff00de, 0 0 60px #ff00de, 0 0 80px #ff00de, 0 0 100px #ff00de, 0 0 200px #ff00de;
	}
/*	*{
	padding: 0;
	margin: 0;
} 위에서 패딩과 마진을 넣어주어서 주석처리함*/

footer {
	font-family: 나눔스퀘어 Regular;
    /*position: absolude; 위에서 총괄로 포지션 설정해서 주석 처리함*/
    bottom:0;
    /*width:1500px; 위에서 너비를 통일했으므로 주석 처리함*/
    border-top: 1px solid #e1e1e1;
    /*margin-top: 600px; 600px하니까 혼자 밑으로 동떨어지게 되어서 주석 처리함*/
	
}

.foottext{
	position: relative;
    left: 200px;
    top: 30px;
}

.footlogo{
	position: relative;
    left: 100px;
    top: -250px;
}
#impor {
	float:left;
	margin: 60px 0 0 50px;
	
}
#address{
	float:right;
	padding : 0px 300px 0px 0px;
	margin: 50px 0 0 180px;
}